table.minimalistBlack {
    border: 1px solid #90A4AE;
    width: auto;
    height: 100px;
    text-align: left;
}
table.minimalistBlack td, table.minimalistBlack th {
    border: 1px solid #90A4AE;
    padding: 2px 2px;
}
table.minimalistBlack tbody td {
    font-size: 13px;
    color: #1976D2;
}
table.minimalistBlack tfoot td {
    font-size: 14px;
}

/*created using https://divtable.com/table-styler/ */
